.git
.gradle
.idea
.terraform
build
out
*.iml
*.ipr
*.iws
.DS_Store
src/main/resources/jwt-secret.yml
src/main/resources/s3-secret.yml
config/*-secret.yml
config/*.local.yml
deploy/*.env
!deploy/*.env.example
*.tfstate
*.tfstate.*
*.tfvars
